.login-button{
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin: 0px;
    width: 100%;
}

.login-button:active{
    scale: 0.990;
}