.nav-container {
  background-color: rgba(240, 248, 255, 0.142); 
  cursor: pointer;
}

h1{
    padding: 0;
    margin: 0;
}
/* Keyframes animation for scaling */
/* Sidebar.css */
.sidebar-content {
  min-width: 200px;
  width: 300px; /* Adjust the width of the drawer */
  padding: 20px;
  background-color: #353535b4; /* Dark background */
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff; /* White text for dark mode */
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.username {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: #fff;
}

.divider {
  background-color: #555; /* Darker divider */
}

.MuiListItem-root {
  padding: 15px;
  font-size: 1.1em;
}

.MuiListItemIcon-root {
  min-width: 40px;
}

.icon {
  color: #fff; /* White icons */
  cursor: pointer;
}

.list-text {
  cursor: pointer;
  color: #fff; /* White text for list items */
}

.custom-drawer .MuiPaper-root {
  background-color: #0f0f0f !important; /* Ensures dark mode background for the drawer */
}



/* Active state for nav-link */
.nav-link.active {
  background-color: rgba(73, 73, 73, 0.266);
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 10px;
  padding-bottom: 2px;
  transition: all 0.3s cubic-bezier(0.075, 1.82, 0.165, 2); /* Fixing the transition */
}
.close-button{
  display:none;
}
@media screen and (max-width: 768px) {
  .sidebar-content{
    max-width: 250px;
  }
  .close-button{
    display:block;
  }
}